<DOCTYPE! HTML5>
<head><title>CP317</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"> 
<script>
function populatePre(url, type) {
    var xhr = new XMLHttpRequest();
    xhr.onload = function () {
        document.getElementById(type).textContent = this.responseText;
    };
    xhr.open('GET', url);
    xhr.send();
}
function sug_update(){
    populatePre('suggestions.txt',"sugs");
}
sug_update();
populatePre('class_list.txt', "contents");
</script>
</head> 

<body>
	<div id="title" class="header-cont" border="0px" width="100%">
        <center> 
            <a href="/#1.0">UPOD</a> :: 
            <a href="/#1.2">GIT</a> :: 
            <a href="/#1.3">FACEBOOK</a> :: 
            <a href="/#2.0">SUGGEST</a> :: 
            <a href="/#3.0">CLASS LIST</a> :: 
            <a href="/entries">WORK TRACKER</a> :: 
            <a href="/entries/new"><b>POST YOUR WORK</b></a></center>
	      </div>
    <div id="wrapper" class="header-cont2" border="0px" width="100%">
	<img src="phys1.jpg" width="100%" height="250px" border-bottom="solid #000000">
</div>
</div>
<a class="anchor" name="1.0"></a>
<div class="divtext">
<h3 class="sectionHead"><span class="titlemark">1.0   </span> <a 
 id="x1-120002.1"></a>UPOD -- From the client</h3>
<!--l. 127--><p class="noindent" ><span class="paragraphHead"><a 
 id="x1-130002.1"></a></span>
<p>The client wants the website to be easy to navigate and be different from wikipedia in design but
similar in functionality. In this way she wants the website to be unique to Laurier and to stand out from
the competing physics websites.</p><br> 
<p class="newline" >The website should have 6 main categories</p>
     <ol  class="enumerate1" >
     <li 
  class="enumerate" id="x1-13002x1">fundamentals
     </li>
     <li 
  class="enumerate" id="x1-13004x2">classical mechanics
     </li>
     <li 
  class="enumerate" id="x1-13006x3">optics
     </li>
     <li 
  class="enumerate" id="x1-13008x4">electricity and magnetism
     </li>
     <li 
  class="enumerate" id="x1-13010x5">quantum mechanics
     </li>
     <li 
  class="enumerate" id="x1-13012x6">statistical mechanics</li></ol>
<!--l. 138--><p class="noindent" ><span class="paragraphHead"><a 
 id="x1-140002.1"></a></span>
<p> There is a live version of UPOD already but currently the links do not go to the right places
which the client believes to be due to bad database entries. In the new website each page
should be very clear and organized. Content should be organized in a way that makes sense to
students.</p><br>
<!--l. 139--><p class="noindent" ><span class="paragraphHead"><a 
 id="x1-150002.1"></a></span>
   The client wants something like amazon suggestions. Topics should point to related topics either from a
sidebar, at the bottom of the page or with links throughout the articles. The client would be interested in
a relational map for topics. Website already contains the content which means very little content will have
to be created.</p><br><br>
<!--l. 140--><p class="noindent" ><span class="paragraphHead"><a 
 id="x1-160002.1"></a></span>
   Diagrams should work and all equations should show what each variable means in someway. Basically
it should read like a text book. There needs to be a total re-vamp of the administrators portal for posting
new topics and information.<br>
<!--l. 141--><p class="noindent" ><span class="paragraphHead"><a 
 id="x1-170002.1"></a></span>
   The client wants some animated diagrams but these do not necessarily need to be created by the class.
There is the option of finding links online but the client does not feel that many websites teach physics in
a creative way. She wants everything to be in the correct units. The more visuals the better. The client
also likes khan academy. Dr. Ghose has stressed the idea of glance media and having people only stay
on pages for X seconds she wants all the content to be able to be "glanced" at still convey
information.<br>
<a class="anchor" name="1.1"></a>
<!--l. 143--><p class="noindent" >
   <h3 class="sectionHead"><span class="titlemark">1.1   </span> <a id="x1-180002.2"></a>UPOD -- From Mr. Brown</h3>
<!--l. 144--><p class="noindent" >Good interfaces vs. bad interfaces. Bad interfaces stick with you . Mr. Brown remembers a command line
software which upon typing quit the software told you to type exit. This was obviously a poor design
choice. Mr. Brown also talks about using content which is standardized. For instance making links blue
and underlined became the standard and it is what we are now used to. Using standardized objects makes
the page easier for users to navigate and stops the user from having to learn anything form using the page.
<br><br><a class="anchor" name="1.2"></a>
    <h3>1.2 Github</h3>
    <a href="https://github.com/rmoro/UPOD"><img src="git.jpg" width="100%" /></a>
    <p> Kieran has provided some great tutorials on git for those who are not familiar with the system:
    <br/><a href="https://www.youtube.com/watch?v=Y9XZQO1n_7c" target="_parent">Learn Git in 20 Minutes</a>
    <br/><a href="https://www.codecademy.com/learn/learn-git" target="_parent">Interactive Tutorial on Git</a>
    <br/><a href="https://try.github.io/levels/1/challenges/1" target="_parent">Another Interactive tutorial on git.</a>
    <p> If you already have git installed type "git clone https://github.com/rmoro/UPOD.git" into the terminal
    </br> or visit the repository by <a href="https://github.com/rmoro/UPOD" target="_parent">clicking here</a>
    <br/><br/> Since most people gave emails which aren't linked to github accounts, I will add contributors for anyone that deos a pull request. This should make my life easier. If you don't know how to pull yet don't worry! Just go sign up for a github account and we will teach you the rest.</p>
    <a class="anchor" name="1.3"></a>    
<h3>1.3 Facebook Group</h3>
<a href="https://www.facebook.com/groups/669296119875892/"><img src="fb.jpg" width="100%"/></a>
<p>Qamar Farooq was kind enough to create a facebook group for everyone to join. You can access it at https://www.facebook.com/groups/669296119875892/ or by <a href="https://www.facebook.com/groups/669296119875892/" target="_parent">clicking here</a>
</p>    <a class="anchor" name="2.0"></a>
<h3>2.0 Suggestions:</h3>
<pre id="sugs"></pre>
<h3>2.1 Post a Suggestion for the Project:</h3>
<form name="suggestions" method="POST">
<textarea rows="1" cols="100" name="name">YOUR NAME</textarea><br/>
<textarea rows="12" cols="100" name="text">SUGGESTION</textarea><br/>
<input type="submit" name="submit" value="SUBMIT">
</form>

<a class="anchor" name="3.0"></a>
<h3>3.0 Class List:</h3> 
<pre id="contents"></pre>
</body>
</html>
