<html>
  <head><title>UNDER CONSTRUCTION</title></head>
  <body>
    <style>
      div.t {
        margin-left: 25vw;
        margin-top: 10vh;
        white-space: nowrap;
        align: left;
      };
    </style>
    <div class="t">
      <a href="mailto:robert@morouney.com">
        <pre>
           ,-.
       ,--' ~.).
     ,'         `.
    ; (((__   __)))
    ;  ( (#) ( (#)
    |   \_/___\_/|
   ,"  ,-'    `__".
  (   ( ._   ____`.)--._        _
   `._ `-.`-' \(`-'  _  `-. _,-' `-/`.
    ,')   `.`._))  ,' `.   `.  ,','  ;
  .'  .     `--'  /     ).   `.      ;
 ;     `-        /     '  )         ;
 \                       ')       ,'
  \                     ,'       ;
   \               `~~~'       ,'
    `.                      _,'
      `.                ,--'
        `-._________,--'       神鸭 (robert morouney)
        </pre>
      </a>
    </div>
  </body>
</html>


