html, body, p {
  margin: 0;
}

body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #dedc72;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
  height: 80px; 
  text-align: center;
}

.header img {
  margin: 15px 0 0;
  width: 60px;
}

.header h1 {
  text-indent: 0px;
}

.container {
  width: 480px;
  margin: 0 auto;
  color:#435464;
}

.container2 {
  width: 480px;
  margin: 0 auto;
}

.messages, .create {
  margin: 40px 0;
}

.messages a, .actions input {
  background-color: #dedc72;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  padding: 12px 24px;
  transition: background-color 0.5s;
  text-decoration: none;
  display: inline-block;
}

.create {
  border: 1px #000 solid;
  background-color: #657d94;
  margin-top: 10px;
  padding: 12px 24px;
  transition: background-color 0.5s;
  text-decoration: none;
  display: inline-block;
  margin-left: 25%;
  margin-top: 10%;
  
}
.message {
  background-color: #fff;
  font-weight: 300;
  padding: 16px;
  margin-bottom: 10px;
  color:#000;
  box-shadow: 5px 5px 3px #333;
}

p.time {
  color: #0084d7;
  font-size: 12px;
  margin-top: 12px;
}

button {
  background-color: #dedc72;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  padding: 12px 24px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #dedc72;
  transition: background-color 0.5s;
}

form label {
  display: block;
  width: 100%;
}

form textarea {
  border: 1px solid transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0px 0 0px;
  min-height: 100px;
  padding: 16px;
  transition: border 0.5s;
  width: calc(100% - 32px);
}

form textarea:focus {
  border: 1px solid #0084d7;
  box-shadow: 0;
  outline: 0;
  transition: border 0.5s;
}

@media screen and (max-width: 480px) {
    .container {
      width: 100%;
      margin: 0 auto;
    }

    .messages, .create {
      padding: 0 20px;
    }
}