// Place all the styles related to the cp317 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a:link, a:visited
{
	color: white;
	padding: 3px 5px;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active
{
	color: #dedc72
}

h1
{
	color: #dedc72;
	font-size:18px;
	padding: 8px;
	font-family: Impact, Charcoal, sans-serif;
}

h3
{
	color: #dedc72;
	font-size:28px;
	padding: 0px;
}
h3
{
	color: #dedc72;
	font-size:24px;
	padding: 0px;
}
body
{
	background: #435464;
	text-align: justify;
	color: #d5e3fa;
	font-family: Helvetica;
	font-size: 16px;
	margin:"0px";
}


.divtext
{
    word-wrap: break-word;
	width: 70%;
	margin-top: 10px;
	margin-left: 150px;
}

.title
{
	width: 70%;
	margin-left: 150px;
	position:fixed;
	background: #435464;
    margin-top:0px;
}

pre
{
	display: inline-block;
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* ancient Opera */
	white-space: -o-pre-wrap; /* newer Opera */
	white-space: pre-wrap; /* Chrome; W3C standard */
	word-wrap: break-word; /* IE */
}
div.header-cont
{
	width: 100%;
	margin-left: 0px;
	position:fixed;
	top:0px;
	background-color:#000000;
	border:"0px";
	padding:"0px";
}
div.header-cont2
{
	width: 70%;
	margin-left: 150px;
	margin-top: 34px;
	background-color:#435464;
	border:"0px";
	padding:"0px";
}
.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:24px;
   width:100%;
   background:#000;
}

/* IE 6 */
* html .footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ?   document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
.stretch
{
	top:"0px";
	position:"fixed";
	border:"0px";
	padding:"0px";
	width:"100%";
	padding-left:"0px";
	margin:"0px";
}
a.anchor {
    display: block;
    position: relative;
    top: -290px;
    visibility: hidden;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;

	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
}
.score_box {
	float: right;
	height: 100pt;
	width: auto;
	position: fixed;
	top: 0;
	right: 0;
	z-index:2;
	background-color: rgb(0, 0, 0);
	background-color: rgba(255, 255, 255, 0.01);
	overflow-x: hidden;
}
.score_text {
	position: relative;
	top: 4%;
	width: 100%;
	text-align: center;
	font-size: 79;
	font-style: oblique;
	margin-left: auto;
	margin-top: 10px;
	font-family: 'Press Start 2P', cursive;
	-webkit-font-smoothing : none;
	color: rgba(0,255,0, 0.5);
}
.coin{
		position:absolute;
		width:20px;
		height:20px;
		border-radius:50%;
		background-color:yellow;
		border:1px dotted #333;
		-webkit-animation:1s animateOpacity;
}
@-webkit-keyframes animateOpacity {
		from {opacity: 0;}
		5% {opacity: 0.6;}
		50% {opacity: 1;}
		95% {opacity: 0.6;}
		to {opacity: 0;}
}
button {
		margin:10px;
}
.blog_text {
	color: white;
	width: 50%;
	margin-left: 25vw;
	align: left;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 2vw;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0,0,0, 0.5);
}
